.card-container {
  box-shadow: 0px 0px 15px -5px;
  width: 22%;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  background: #3b3b3b;
}

.card-container:hover {
  box-shadow: 0% 10% 65% -40%;
  transform: scale(1.1);
  background: #0a0934;
}

.card-container::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -10%;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71,transparent);
    transition: all 1s;
    z-index: 1;
    transform: translateX(-120px) skew(-20deg);
}

.card-container:hover::before {
    
    transform: translateX(300px) skew(-20deg);
}


/* to remove arrows from input type="number" */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.text-container-1 {
    font-size: 20%;
    font-weight: 600;
    color: #000000;
    display: flex;
    margin: 0% 0% 0% 18%;
    justify-content: center;
    justify-self: center;
    position: absolute;
    top: 20%;
}

.text-container-2 {
    font-size: 20%;
    font-weight: 600;
    color: #000000;
    display: flex;
    margin: 0% 0% 0% 18%;
    justify-content: center;
    justify-self: center;
    position: absolute;
    top: 58%;
}

.input-field {
    border-radius:10px;
    padding: 2%;
    margin: 0 auto;
  text-align: center;
}

.currency-selector {
    border-radius:10px;
    padding: 4%;
    margin-left: 10%;
}

.currency-selector:focus {
    border: 0;
    outline: 0;
}
